nav {
  height: 60px;
  background-color: lightgrey;
  position: fixed;
  width: 100%;
}

.container-nav {
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
}

.logotype {
	position: absolute;
	vertical-align: middle;
	margin-top: 10px;
	margin-bottom: 10px;
	left: 20px;
	font-size: 15pt;
}

nav ul {
	position: absolute;
	list-style: none;
	right: 20px;
}

li {
	display: inline-block;
	color: red;
}

main{
	padding-top: 100px;
	min-width: 1000px;
}

.container-search {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

label {
	display: block;
	font-size: small;
}

.search-field, .search-icon {
	display: inline-block;
	vertical-align: middle;
}

.search-field {
	padding-right: 100px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
}

.search-icon {
	width: 30px;
}